body {
    font-family: sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 5px;
}

.form-header h2 {
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;

}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #2c3e50;
    color: white;
    border-radius: 4px;
    padding: 6px;
    font-size: 16px;
}

.form-footer {
    margin-top: 20px;
}

.form-footer a {
    color: #3498bd;
    text-decoration: none;
}